:root {
  /* ? ######## Colors */
  --color-default: #212529;
  --primary-hue: 0;
  --primary-saturation: 84%;
  --primary-lightness: 44%;
  --color-primary: hsl(var(--primary-hue),
      var(--primary-saturation),
      var(--primary-lightness));
  --color-secondary: #37373f;
  --color-tertiary: #7f7f90;
  --light-hue: 0;
  --light-saturation: 0%;
  --light-lightness: 100%;
  --color-light: hsl(var(--light-hue),
      var(--light-saturation),
      var(--light-lightness));
  --color-light-grey: #eee;
  --background-color: var(--color-primary);
  --hover-bg-color: hsl(var(--primary-hue), var(--primary-saturation), calc(var(--primary-lightness) + 5%));
  --hover-color: var(--color-light);
}

.mode-group i {
  cursor: pointer;
  font-size: 25px;
}

.mode-group .light {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #fff;
  border-left: 2px solid #eee;
  box-shadow: 0px 0px 21px 0px #0003 inset;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  box-shadow: 0px 0px 10px 0px #eeeeee8c inset;
  border-radius: 40px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-default);
}



::selection {
  background-color: hsl(var(--primary-hue),
      var(--primary-saturation),
      var(--primary-lightness),
      0.7);
  opacity: 0.2;
  color: var(--color-light);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Navbar */

nav {
  background-color: var(--color-light);
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 14px 0px #0000001b;
  z-index: 999;
}

nav .container {
  width: 490px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 15px;
  margin-inline: auto;
}

nav .container .logo a {
  font-size: 30px;
  color: var(--color-default);
  font-weight: bold;
}

nav .container .logo a::after {
  content: ".";
  font-size: 30px;
  color: var(--color-primary);
}

nav .container .linkes {
  display: flex;
}

nav .container .linkes li {
  padding: 15px 10px;
}

nav .container .linkes li a {
  font-size: 17px;
  font-weight: 500;
  width: 100%;
  color: var(--color-tertiary);
  transition: all 400ms;
  position: relative;
  padding-bottom: 5px;
}

nav .container .linkes li a::before {
  content: " ";
  position: absolute;
  bottom: -3px;
  left: 1px;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: all 400ms;
}

body:not(body:has(:target)) li a[href="#home"],
body:has(#home:target) li a[href="#home"],
body:has(#chefs:target) li a[href="#chefs"],
body:has(#gallery:target) li a[href="#gallery"],
body:has(#contact:target) li a[href="#contact"] {
  color: #000;
}

body:not(body:has(:target)) li a[href="#home"]::before,
body:has(#home:target) li a[href="#home"]::before,
body:has(#chefs:target) li a[href="#chefs"]::before,
body:has(#gallery:target) li a[href="#gallery"]::before,
body:has(#contact:target) li a[href="#contact"]::before {
  width: calc(100% - (1px * 2));
}

nav .container .linkes li.close-icon {
  width: fit-content;
  align-self: flex-end;
  padding: 10px 15px 5px;
}

nav .container .linkes li.close-icon i {
  font-size: 23px;
}

nav .container .linkes li a:hover {
  color: #000;

}

nav .container .linkes:target {
  transform: translateX(0);
}

a.action-btn {
  display: block;
  color: var(--color-default);
}

a.action-btn i {
  font-size: 25px;
}

nav .container .mode-group {
  margin-left: auto;
  margin-right: 20px;
}

/* Home Bage */

#home {
  overflow: auto;
  background-color: var(--color-light-grey);
}

.contant .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 49px 10px;
  text-align: center;
  margin-top: 5.9375rem;
  margin-inline: auto;
}

.contant .container .cont h2 {
  color: var(--color-secondary);
  font-size: 4.0625rem;
  font-family: 'Amatic SC', sans-serif;
}

.contant .container .cont p {
  margin-block: 20px;
  line-height: 1.6;
  font-size: 1rem;
  color: #4f4f5a;
}

.contant .container .btns {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  justify-content: center;
}

.contant .container .btns .book {
  color: var(--color-light);
  background-color: var(--color-primary);
  padding: 10px 25px;
  border-radius: 20px;
}

.contant .container .btns .book:hover {
  background-color: var(--hover-bg-color);
}

.contant .container .btns .watch {
  display: flex;
  color: var(--color-default);
  align-items: center;
  justify-content: space-between;
  transition: all 400ms;
}

.contant .container .btns .watch .icon i {
  z-index: 3;
}

.contant .container .btns .watch:hover {
  color: var(--color-primary);
}

.contant .container .btns .watch .icon {
  width: 3.4375rem;
  height: 3.4375rem;
  border-radius: 50%;
  background-image: linear-gradient(to right, var(--color-primary) 0 50%, transparent 50% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-right: 0.3125rem;
  position: relative;
}

.contant .container .btns .watch .icon::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-light);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: inherit;
}

.contant .container .pic img {
  width: 100%;
  filter: drop-shadow(4px 4px 9px #000a);
  display: block;
}

.contant .container .pic img:hover {
  animation: animation 1s infinite;
}

/* Chefs Bage */

#chefs {
  overflow: auto;
}

#chefs .container {
  width: 100%;
  margin: 50px auto;
  padding: 40px 15px;
}

.container .title {
  text-align: center;
  margin-bottom: 25px;
}

.container .title p {
  color: var(--color-tertiary);
  font-weight: 400;
  font-size: 0.875rem;
  font-family: 'Inter', sans-serif;
}

.container .title h2 {
  font-size: 3.125rem;
  font-family: 'Amatic SC', sans-serif;
  font-weight: 200;
}

.container .title h2 span {
  color: var(--color-primary);
}

.container .chefs-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-block: 20px;
}

.container .chefs-cards .card {
  width: 100%;
  background-color: var(--color-light);
  text-align: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  transition: all 400ms;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.container .chefs-cards .card:hover {
  transform: scale(1.06);
}

.container .chefs-cards .card .pic {
  width: 100%;
  position: relative;
}

.container .chefs-cards .card .pic img {
  width: 100%;
  display: block;
}

.container .chefs-cards .card .pic::before {
  content: " ";
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-image: url(./images/team-shape.svg);
  background-repeat: repeat-x;
}

.container .chefs-cards .card .card-contant {
  padding: 10px 25px 25px;
}

.container .chefs-cards .card .card-contant h3 {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}

.container .chefs-cards .card .card-contant span {
  color: var(--color-tertiary);
  font-size: 14px;
  margin-block: 15px 15px;
  display: inline-block;
}

.container .chefs-cards .card .card-contant p {
  color: var(--color-tertiary);
  font-size: 15px;
  font-style: italic;
}

.container .chefs-cards .card .social-icon {
  background-color: #ffffff4d;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 30px;
  right: -50px;
  transition: all 200ms;
}

.container .chefs-cards .card:hover .social-icon {
  right: 10px;
  transition-delay: 400ms;
}

.container .chefs-cards .card .social-icon i {
  font-size: 18px;
  padding: 10px 5px;
  color: #37373f66;
  transition: all 400ms;
}

.container .chefs-cards .card .social-icon i:hover {
  color: #4f4f5a;
}

/* Gallery Bage */

#gallery {
  overflow: auto;
  background-color: var(--color-light-grey);
}

#gallery .container {
  width: 100%;
  margin: 50px auto;
  padding: 40px 15px;
}

.container .photos {
  height: auto;
  gap: 20px;
  display: flex;
  flex-flow: column wrap;
}

.container .photos picture {
  width: 100%;
  border: 4px solid #fff;
  position: relative;
  overflow: hidden;
}

.container .photos picture img {
  width: 100%;
  display: block;
  transition: all 400ms;
}

.container .photos picture:hover img {
  transform: scale(1.1);
}

.container .photos picture.pizza {
  order: 1;
}

.container .photos picture.pizza-slices {
  order: 3;
}

.container .photos picture.steak {
  order: 5;
}

.container .photos picture.omelette {
  order: 4;
}

.container .photos picture.burger {
  order: 2;
}

.container .photos picture.fried {
  order: 6;
}

.container .photos picture.kofta {
  order: 7;
}

.container .photos picture .layer {
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #00000096;
  width: 100%;
  padding: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  opacity: 0;
  transition: all 400ms;
}

.container .photos picture:hover .layer {
  transform: translateY(0);
  opacity: 1;
}

.container .photos picture .layer h2 {
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.container .photos picture .layer p {
  color: #ddd;
  text-align: center;
}

/* Contact Bage */

#contact .container {
  width: 100%;
  margin: 50px auto;
  padding: 40px 15px;
}

.container iframe {
  width: 100%;
  height: 350px;
}

.container .details {
  gap: 15px;
  margin-block: 25px;
  display: flex;
  flex-wrap: wrap;
}

.container .details .item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 25px;
  background-color: var(--color-light-grey);
}

.container .details .item .icon {
  margin-right: 10px;
  min-width: 50px;
  min-height: 50px;
  background-color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .details .item .icon i {
  color: var(--color-light);
  font-size: 18px;
}

.container .details .item .contant h3 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #7d7d7d;
  font-weight: 700;
}

.container .details .item .contant a {
  display: inline-block;
  color: inherit;
}

.container form {
  width: 100%;
  gap: 15px;
  background-color: var(--color-light);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 1.875rem #00000014;
}

.container form .input-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.container form input,
.container form textarea {
  padding: 15px;
  font-family: inherit;
  line-height: 1.5;
  color: #212529;
  border: 2px solid hsl(var(--light-hue), calc(var(--light-saturation) + 10%), calc(var(--light-lightness) - 10%));
  transition: all 400ms;
}

.container form input {
  width: 100%;
}

.container form textarea {
  width: 100%;
  min-height: 150px;
  max-height: 300px;
  resize: vertical;
}

.container form input:focus,
.container form textarea:focus {
  outline: var(--color-primary) !important;
  border: 2px solid var(--color-primary);
}

.container form button {
  font-size: 15px;
  padding: 12px 40px;
  margin-top: 25px;
  border-radius: 40px;
  width: fit-content;
  font-family: inherit;
  border-color: transparent;
  background-color: var(--color-primary);
  color: var(--color-light);
  transition: all 400ms;
}

.container form button:hover {
  background-color: var(--hover-bg-color);
}

/* Footer */

footer {
  background-image: linear-gradient(#0009, #0009), url(./images/textured-metal-background.jpg);
  color: #fff;
  box-shadow: 0px -1px 5px #0007;
  background-size: contain;
}

footer .container {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 15px;
  margin-inline: auto;
}

footer .container .about {
  width: 100%;
  order: 0;
}

footer .container .about .top {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .container .about .top img {
  width: 40px;
  height: 40px;
  display: block;
}

footer .container .about .top h2 {
  font-size: 30px;
}

footer .container .about .top h2::after {
  content: ".";
  font-size: 30px;
  color: var(--color-primary);
}

footer .container .about p {
  margin-block: 10px;
}

footer .container .about h3 {
  text-align: center;
  border-bottom: 2px solid #ddd6;
  font-family: "Inter", sans-serif;
  padding: 10px;
  margin-bottom: 10px;
}

footer .container .about ul {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

footer .container .about ul a {
  font-size: 24px;
}

footer .container a {
  color: inherit;
}

footer .container .subscription {
  width: 100%;
  order: 0;
}

footer .container .subscription .box h3 {
  font-family: "Inter", sans-serif;
}

footer .container .subscription .box p {
  margin-block: 10px;
}

footer .container .subscription .box .group {
  margin-block: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

footer .container .subscription .box .group input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid rgb(133, 133, 133);
}

footer .container .subscription .box .group input:focus {
  outline: transparent;
  /* border: 2px solid var(--color-primary); */
}

footer .container .subscription .box .group button {
  padding: 10px;
  background-color: var(--color-primary);
  color: var(--color-light);
  font-size: 15px;
  border-color: transparent;
  transition: all 400ms;
}

footer .container .subscription .box .group button:hover {
  background-color: var(--hover-bg-color);
}

footer .container .subscription .links h3 {
  font-family: "Inter", sans-serif;
}

footer .container .subscription .links ul {
  column-gap: 20px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

footer .container .subscription .links ul li {
  width: calc(calc(100% - 20px) / 2);
  padding: 5px;
  position: relative;
  transition: all 400ms;
}

footer .container .subscription .links ul li:hover {
  transform: translateX(10px);
  background-color: #222;
}

footer .container .contact-details {
  width: 100%;
  order: 0;
}

footer .container .contact-details h3 {
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
}

footer .container .contact-details ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}

footer .container .contact-details ul li i {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  font-size: 22px;
}

/* Media Query*/

@media screen and (min-width: 576px) {
  footer .container .subscription .box .group {
    flex-direction: row;
    gap: 5px;
  }
}

@media only screen and (min-width: 600px) {
  nav .container {
    width: 540px;
  }

  .contant .container {
    width: 540px;
  }

  #chefs .container {
    width: 540px;
  }

  #gallery .container {
    width: 540px;
  }

  #contact .container {
    width: 540px;
  }

  footer .container {
    width: 540px;
  }
}

@media screen and (min-width: 768px) {
  nav .container {
    width: 720px;
  }

  .contant .container {
    width: 720px;
  }

  #chefs .container {
    width: 720px;
  }

  .container .chefs-cards .card {
    width: calc(calc(100% - 30px) / 2);
  }

  #gallery .container {
    width: 720px;
  }

  .container .photos picture {
    width: calc(calc(100% - 20px) / 2);
  }

  .container .photos {
    height: 1405px;
  }

  #contact .container {
    width: 720px;
  }

  .container .details .item {
    width: calc(calc(100% - 15px) / 2);
  }

  footer .container {
    width: 720px;
  }

  footer .container .about {
    width: calc(calc(100% - 20px) / 2);
    order: 1;
  }

  footer .container .subscription {
    /* width: calc(calc(100% - 20px) / 2); */
    order: 2;
  }

  footer .container .contact-details {
    width: calc(calc(100% - 20px) / 2);
    order: 1;
  }

}

@media screen and (min-width: 992px) {
  nav .container {
    width: 960px;
  }

  .contant .container {
    flex-direction: row;
    width: 960px;
    text-align: start;
  }

  .contant .container .cont {
    width: 40%;
  }

  .contant .container .btns {
    justify-content: flex-start;
  }

  .contant .container .btns .book {
    border-radius: 0px 100vh 100vh;
  }

  .contant .container .pic {
    width: 40%;
  }

  #chefs .container {
    width: 960px;
  }

  .container .chefs-cards .card {
    width: calc(calc(100% - 30px * 2) / 3);
  }

  #gallery .container {
    width: 960px;
  }

  .container .photos picture {
    width: calc(calc(100% - 20px * 2) / 3);
  }

  .container .photos picture.pizza {
    order: 0;
  }

  .container .photos picture.pizza-slices {
    order: 0;
  }

  .container .photos picture.steak {
    order: 0;
  }

  .container .photos picture.omelette {
    order: 0;
  }

  .container .photos picture.burger {
    order: 0;
  }

  .container .photos picture.fried {
    order: 0;
  }

  .container .photos picture.kofta {
    order: 0;
  }

  .container .photos {
    height: 845px;
  }

  #contact .container {
    width: 960px;
  }

  .container form .input-group input {
    width: calc(calc(100% - 15px) / 2);
  }

  footer .container {
    width: 960px;
  }

}

@media screen and (max-width:1200px) {
  nav .container .linkes {
    width: 350px;
    height: 100vh;
    background-color: #fff;
    border-left: 2px solid #f1f1f1;
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: all 400ms;
  }

}

@media screen and (min-width:1200px) {
  nav .container {
    width: 1140px;
  }

  nav .container {
    width: 1140px;
    padding: 25px 5px;
  }

  nav .container .linkes {
    gap: 5px;
  }

  nav .container .linkes li {
    padding: 5px 15px;
    display: list-item;
  }

  nav .container .linkes li.close-icon {
    display: none;
  }

  nav .container .mode-group {
    margin: 0;
  }

  a.action-btn {
    display: none;
  }

  #home {
    height: 100vh;
  }

  .contant .container {
    width: 1140px;
  }

  #chefs .container {
    width: 1140px;
  }

  #gallery .container {
    width: 1140px;
  }

  .container .photos {
    height: 1000px;
  }

  #contact .container {
    width: 1140px;
  }

  footer .container {
    width: 1140px;
  }

  footer .container .about {
    width: calc(calc(100% - 20px * 2) / 4);
    order: 0;
  }

  footer .container .subscription {
    width: calc(calc(100% - 20px * 2) / 2);
    order: 0;
  }

  footer .container .contact-details {
    width: calc(calc(100% - 20px * 2) / 4);
    order: 0;
  }

  nav .container .linkes li a:hover::before {
    width: calc(100% - 2px);
  }
}

@media screen and (min-width: 1400px) {
  nav .container {
    width: 1320px;
  }

  .contant .container {
    width: 1320px;
  }

  #chefs .container {
    width: 1320px;
  }

  #gallery .container {
    width: 1320px;
  }

  .container .photos {
    height: 1165px;
  }

  #contact .container {
    width: 1320px;
  }

  footer .container {
    width: 1320px;
  }
}

@keyframes animation {

  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }

}